// ### Primary

$primary-softred: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$primary-design-text-darkdesaturatedcyan: hsl(167, 40%, 24%);
$primary-foto-text-darkblue: hsl(198, 62%, 26%);
$primary-footer-darkmoderatecyan: hsl(168, 34%, 41%);
$primary-footer-background: hsl(167, 44%, 70%);
$primary-footer-text: hsl(166, 44%, 28%);

// ### Neutral

$neutral-darkdesaturatedblue: hsl(212, 27%, 19%);
$neutral-darkgrayishblue: hsl(213, 9%, 39%);
$neutral-darkgrayishblue: hsl(232, 10%, 55%);
$neutral-grayishblue: hsl(210, 4%, 67%);
$neutral-white: hsl(0, 0%, 100%);
$hover-color: hsl(202, 100%, 74%);